<div class="login">
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
      <h4>Login</h4>
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        required
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <div class="login-error" *ngIf="isValid">Incorrect login credentials</div>
      <button class="login-button" type="submit">Login</button>
    </form>
  </div>